<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALeQtk8W1vWXBxNvDjfSgZhrkSffw5wU4</string>
	<key>GCM_SENDER_ID</key>
	<string>860022273960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wepoc2.app</string>
	<key>PROJECT_ID</key>
	<string>wepoc-a1181</string>
	<key>STORAGE_BUCKET</key>
	<string>wepoc-a1181.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860022273960:ios:8aa04adcafe10580c48f9d</string>
</dict>
</plist>